<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="menu">
                <li ><a routerlinkActive="active" [routerLink]="[ '/goodsList' ]"> لیست کالاها</a></li>
                <li ><a routerlinkActive="active" [routerLink]="[ '/goodsReceipt' ]"> رسید کالاها</a></li>
                <li ><a routerlinkActive="active" [routerLink]="[ '/goodsRemittance' ]"> حواله کالاها</a></li>
                <li ><a routerlinkActive="active" [routerLink]="[ '/reportgoods' ]"> گزارش  کالاها</a></li>
               
               
                
            </ul>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
